html{

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

}


/*Test Code*/

body:before {
	content: "";
	display: block;
	position: fixed;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	z-index: -10;
  	background: url(images/Header.jpg) no-repeat center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

p{

	font-family: 'Montserrat', sans-serif;
}

h1{

	font-family: 'Montserrat', 'sans-serif';
}

.header{

	height: 100%;
	
	
}

.header .container .name{

	left: 10%;
	position: absolute;

}

.header h1{

	padding-top: 125px;
	color: white;
	font-size: 50px;

}

.header p{

	color: white;
	font-size: 30px;
}

.nav{
	text-align: center;
	position: fixed;
	top: 5%;
	left: 50%;
	margin-left: -100px;
	z-index: 1;
}

.nav a:link{

	text-decoration: none;
	font-family: 'Montserrat', 'sans-serif';
	color:	white;
}

.nav a:hover{

	color:	#DE9600;
	transition: color 1s;
	text-decoration: none;
}

.nav a:active{

	text-decoration: none;
}

.nav a:visited{

	text-decoration: none;
}


.nav ul li{

	display: inline-block;
	color: white;
	text-align: center;
	padding-left: 80px;
}

.about{

	height: 100%;
	margin-bottom: -20px;
}

.about h1{

	text-align: center;
	color: white;
	padding-top:100px;

}

.about .row p{

font-size: 20px;
color: white;
padding: 10px;S

}

.about .ab1{

	padding-top: 50px;
}

.about .ab2{

	padding-top: 100px;
}

.about img{

	height: auto;
	width: 100%;
	margin-top: 100px;
	border: 2px solid black;
}

.resume{

	height:100%;
	margin-bottom: -20px;
}

.resume h1{

	text-align: center;
	color: white;
	padding-top: 100px;

}

.resume .exp{

	
	color:white;
	margin-top: 100px;
	padding-left: 20px;
	padding-right: 20px;
}

.project{

	height: 100%;
	margin-bottom: -20px;
}

.project h1{

	text-align: center;
	color: white;
	padding-top: 100px;

}

.project h3{

	text-align: center;
	color: white;
	margin-bottom: 50px;

}

.project img{

	margin-top: 50px;

}



.footer{

	height: 150px;
	width: 20%;
	background: rgba(128, 128, 128, 0.5);
	display: none;
	position:fixed;
	bottom: 0;
	border: solid 1px;
	color: white;

}

.footer h3{

	color: white;
}

.footer a:link, a:visited{

	text-decoration: none;
	color: white;
}

.footer a:hover{

	text-decoration: none;
	color: #DE9600;
	transition: color 1s;
}

.footer img{

	height: 40px;
	width: 40px;
	display: inline-block;
	margin-top: -15px;
}